.container {
  height: 92vh;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.containerLayer {
  height: 92vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.296);
  overflow: auto;
  padding-bottom: 10vh;
}

.cardsContainer {
  padding: 4vh;
  padding-top: 20vh;
}
.serviceCard {
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid rgb(198, 198, 198);
}
.serviceCard h2 {
  color: rgb(227, 227, 227);
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}
.serviceCard h2:hover {
  color: rgb(0, 255, 26);
}
.serviceCardLayer {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.478);
}
.serviceCardLayer:hover::after {
  content: "PLAY NOW";
  color: rgb(212, 212, 212);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}
.serviceCardLayer:hover {
  background-color: rgba(0, 0, 0, 0.625);
}

/* ========================Comming soon======================== */
.serviceCardLayerCommingSoon {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.478);
}
.serviceCardLayerCommingSoon:hover::after {
  content: "COMMING SOON";
  color: rgb(212, 212, 212);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}
.serviceCardLayerCommingSoon:hover {
  background-color: rgba(0, 0, 0, 0.625);
}

/* ======================Media Query======================== */

@media only screen and (max-width: 2400px) {
  .serviceCard {
    height: 17vw;
  }
}
@media only screen and (max-width: 1200px) {
  .serviceCard {
    height: 24vw;
  }
}
@media only screen and (max-width: 767px) {
  .cardsContainer {
    padding: 0;
    padding: 2vh 0 8vh;
  }
  .container {
    height: 100%;
  }
  .cardsContainer {
    padding: 2vh 0;
  }
  .serviceCardLayer:hover::after {
    content: "";
  }
}
@media only screen and (max-width: 600px) {
  .serviceCard {
    height: 54vw;
  }
}
