.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(3, 37, 72);
  background-image: url("../../public/static/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
.containerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 92vh;
  background-color: rgba(15, 15, 15, 0.252);
  overflow: auto;
}
.container h1:hover {
  color: rgb(255, 255, 255);
}
.content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  padding-left: 50px;
}
.content h1 {
  color: rgb(206, 203, 220);
  font-size: 40px;
  font-weight: bolder;
  margin-top: 5vh;
  margin-bottom: 3vh;
  cursor: default;
}
.contentDescription {
  max-width: 880px;
  padding-right: 20px;
}
.content p {
  color: rgba(255, 255, 255, 0.707);
  font-size: 14px;
  line-height: 2;
  cursor: default;
}
.sidebar {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50px;
  bottom: 30px;
  gap: 10px;
}
.sidebarItem {
  padding: 12px;
  background-color: red;
  width: 120px;
  text-align: center;
  color: white;
  background-color: #68818b7f;
  border-radius: 12px;
  border-top-right-radius: 0;
  box-shadow: -1px 1px 3px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.sidebarItem:hover {
  background-color: #425c66;
}
/* ======================Media Query======================== */

@media only screen and (max-width: 767px) {
  .containerWrapper {
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
  }
  .content {
    width: fit-content;
    height: auto;
  }

  .content {
    padding-left: 10px;
  }
  .content h1 {
    margin-top: 0;
    font-size: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .sidebar {
    left: 10px;
  }
  .sidebarItem {
    font-size: 12px;
    padding: 12px 4px;
  }
}
@media only screen and (max-width: 500px) {
  .sidebar {
    flex-direction: column;
    position: static;
    align-items: flex-start;
    margin-top: 100px;
  }
}
