.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}
.formContainer {
  width: 100%;
}
.inputBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.errorBox {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuItem {
  text-transform: capitalize;
}
