.container {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.label {
  /* color: white; */
  padding-top: 5px;
  font-size: 14px;
  cursor: pointer;
}
.label:hover {
  color: rgb(0, 255, 47);
  text-decoration: underline;
}
.CircularProgressbar-text {
  transform: translate(-15px, 5px);
}
