@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html,
body {
  background-color: rgb(0, 19, 30);
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: default;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  display: none;
}

::selection {
  color: red;
  background: yellow;
}
/* ====================== Footer ======================== */
.footerContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  font-size: 12px;
  color: rgb(193, 193, 193);
}
.footerContainer:hover {
  color: rgb(255, 255, 255);
}
